.footer__links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .footer__links {
        padding-left: 48px; 
    }
}

@media all and (max-width: 768px) {
    .footer__links {
        padding-left: 24px; 
    }
}

@media all and (max-width: 680px) {
    .footer__links {
        flex-direction: column;
        padding-left: 16px;
    }
}