.cover__overlay {
    display: flex;
    background-size: cover;
    background: rgba(42, 44, 47, 0.4);
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
}